html,
body,
div,
span,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
form,
label,
input,
textarea,
select,
option,
button,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
pre,
code,
iframe {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	vertical-align: baseline;
	color: #000000;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 42px;
	line-height: 100%;
}

h1 span {
	font-size: 42px;
	line-height: 100%;
}

h1 a {
	font-size: 42px;
	line-height: 100%;
}

h2 {
	font-size: 38px;
	line-height: 110%;
}

h2 span {
	font-size: 38px;
	line-height: 110%;
}

h2 a {
	font-size: 38px;
	line-height: 110%;
}

h3 {
	font-size: 34px;
	line-height: 120%;
}

h3 span {
	font-size: 34px;
	line-height: 120%;
}

h3 a {
	font-size: 34px;
	line-height: 120%;
}

h4 {
	font-size: 30px;
	line-height: 130%;
}

h4 span {
	font-size: 30px;
	line-height: 130%;
}

h4 a {
	font-size: 30px;
	line-height: 130%;
}

h5 {
	font-size: 26px;
	line-height: 140%;
}

h5 span {
	font-size: 26px;
	line-height: 140%;
}

h5 a {
	font-size: 26px;
	line-height: 140%;
}

h6 {
	font-size: 22px;
	line-height: 150%;
}

h6 span {
	font-size: 22px;
	line-height: 150%;
}

h6 a {
	font-size: 22px;
	line-height: 150%;
}

p {
	line-height: 160%;
}

p span {
	line-height: 160%;
}

p a {
	line-height: 160%;
}

img {
	border: none;
	max-width: 100%;
}

/*
 * Position.
 */
.dv-float-right {
	float: right !important;
}

.dv-float-left {
	float: left !important;
}

.dv-text-align-right {
	text-align: right;
}

.dv-text-align-center {
	text-align: center;
}

.dv-text-align-left {
	text-align: left;
}

/*
  * Margin.
  */
.dv-margin-ldpi {
	margin: 8px;
}

.dv-margin-mdpi {
	margin: 16px;
}

.dv-margin-hdpi {
	margin: 32px;
}

.dv-margin-xdpi {
	margin: 64px;
}

.dv-margin-top-ldpi {
	margin-top: 8px;
}

.dv-margin-right-ldpi {
	margin-right: 8px;
}

.dv-margin-bottom-ldpi {
	margin-bottom: 8px;
}

.dv-margin-left-ldpi {
	margin-left: 8px;
}

.dv-margin-top-mdpi {
	margin-top: 16px;
}

.dv-margin-right-mdpi {
	margin-right: 16px;
}

.dv-margin-bottom-mdpi {
	margin-bottom: 16px;
}

.dv-margin-left-mdpi {
	margin-left: 16px;
}

.dv-margin-top-hdpi {
	margin-top: 32px;
}

.dv-margin-right-hdpi {
	margin-right: 32px;
}

.dv-margin-bottom-hdpi {
	margin-bottom: 32px;
}

.dv-margin-left-hdpi {
	margin-left: 32px;
}

.dv-margin-top-xdpi {
	margin-top: 64px;
}

.dv-margin-right-xdpi {
	margin-right: 64px;
}

.dv-margin-bottom-xdpi {
	margin-bottom: 64px;
}

.dv-margin-left-xdpi {
	margin-left: 64px;
}

/*
  * Padding.
  */
.dv-padding-ldpi {
	padding: 8px;
}

.dv-padding-mdpi {
	padding: 16px;
}

.dv-padding-hdpi {
	padding: 32px;
}

.dv-padding-xdpi {
	padding: 64px;
}

.dv-padding-top-ldpi {
	padding-top: 8px;
}

.dv-padding-right-ldpi {
	padding-right: 8px;
}

.dv-padding-bottom-ldpi {
	padding-bottom: 8px;
}

.dv-padding-left-ldpi {
	padding-left: 8px;
}

.dv-padding-top-mdpi {
	padding-top: 16px;
}

.dv-padding-right-mdpi {
	padding-right: 16px;
}

.dv-padding-bottom-mdpi {
	padding-bottom: 16px;
}

.dv-padding-left-mdpi {
	padding-left: 16px;
}

.dv-padding-top-hdpi {
	padding-top: 32px;
}

.dv-padding-right-hdpi {
	padding-right: 32px;
}

.dv-padding-bottom-hdpi {
	padding-bottom: 32px;
}

.dv-padding-left-hdpi {
	padding-left: 32px;
}

.dv-padding-top-xdpi {
	padding-top: 64px;
}

.dv-padding-right-xdpi {
	padding-right: 64px;
}

.dv-padding-bottom-xdpi {
	padding-bottom: 64px;
}

.dv-padding-left-xdpi {
	padding-left: 64px;
}

/*
 * Style.
 */
.dv-font-size-ldpi {
	font-size: 14px;
}

.dv-font-size-ldpi p,
.dv-font-size-ldpi span,
.dv-font-size-ldpi a,
.dv-font-size-ldpi a span {
	font-size: 14px;
}

.dv-font-size-mdpi {
	font-size: 22px;
}

.dv-font-size-mdpi p,
.dv-font-size-mdpi span,
.dv-font-size-mdpi a,
.dv-font-size-mdpi a span {
	font-size: 22px;
}

.dv-font-size-hdpi {
	font-size: 64px;
}

.dv-font-size-hdpi p,
.dv-font-size-hdpi span,
.dv-font-size-hdpi a,
.dv-font-size-hdpi a span {
	font-size: 64px;
}

.dv-capitalize {
	text-transform: capitalize;
}

.dv-uppercase {
	text-transform: uppercase;
}

.dv-lowercase {
	text-transform: lowercase;
}

.dv-underline {
	text-decoration: underline;
}

.dv-line-through {
	text-decoration: line-through;
}

.dv-line-height {
	line-height: 1;
}

.dv-bold {
	font-weight: 700;
}

.dv-cursor {
	cursor: pointer;
}

.dv-radius {
	border-radius: 8px;
}

.dv-circle {
	border-radius: 512px;
}

.dv-shadow {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .16);
}

.dv-text-shadow {
	text-shadow: 2px 2px rgba(0, 0, 0, .16);
}

.dv-border {
	border: solid 1px #e0e0e0;
}

.dv-full-width {
	width: 100%;
}

.dv-auto-width {
	width: auto;
}

.dv-full-height {
	height: 100%;
}

.dv-auto-height {
	height: auto;
}

.dv-full-height-mobile {
	height: 100%;
}

.dv-position-relative {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.dv-position-absolute,
.dv-position-absolute-mobile {
	position: absolute;
	z-index: 2;
}

.dv-position-fixed,
.dv-position-fixed-mobile {
	position: fixed;
	z-index: 3;
}

.dv-position-center {
	margin: 0 auto;
}

.dv-top {
	top: 0;
}

.dv-right {
	right: 0;
}

.dv-bottom {
	bottom: 0;
}

.dv-left {
	left: 0;
}

.dv-top-bottom {
	top: 50%;
	transform: translateY(-50%);
}

.dv-right-left {
	left: 50%;
	transform: translateX(-50%);
}

.dv-display-inline {
	display: inline-block;
}

.dv-vertical-align-middle {
	vertical-align: middle;
}

.dv-zoom-transparency {
	overflow: hidden;
	background: #eeeeee;
	transition: all .5s, filter .5s ease-in;
}

.dv-zoom-transparency img {
	transform: scale(.8);
	transition: transform .5s, filter .5s ease-in;
}

.dv-zoom-transparency .dv-grayscale {
	filter: grayscale(100%);
}

.dv-zoom-transparency:hover {
	background: #e0e0e0;
}

.dv-zoom-transparency:hover img {
	transform: scale(.9);
}

.dv-zoom-transparency:hover .dv-grayscale {
	filter: grayscale(0);
}

.dv-zoom-background {
	overflow: hidden;
	transition: all .5s, filter .5s ease-in;
}

.dv-zoom-background img {
	transform: scale(1);
	transition: transform .5s, filter .5s ease-in;
}

.dv-zoom-background:hover img {
	transform: scale(1.1);
}

.dv-line-break {
	clear: both;
}

.dv-mobile {
	display: none;
}

.dv-screen {
	display: block;
}

/*
 * Grid.
 */
.dv-line,
.dv-line-mobile {
	display: flex;
}

.dv-line .dv-column,
.dv-line-mobile .dv-column {
	flex: 1;
}

.dv-line .dv-column-two,
.dv-line-mobile .dv-column-two {
	flex: 0 50%;
}

.dv-line .dv-column-three,
.dv-line-mobile .dv-column-three {
	flex: 0 33.33%;
}

.dv-line .dv-column-four,
.dv-line-mobile .dv-column-four {
	flex: 0 25%;
}

.dv-line .dv-column-five,
.dv-line-mobile .dv-column-five {
	flex: 0 20%;
}

.dv-line .dv-horizontal-align-right,
.dv-line-mobile .dv-horizontal-align-right {
	display: flex;
	justify-content: flex-end;
}

.dv-line .dv-horizontal-align-center,
.dv-line-mobile .dv-horizontal-align-center {
	display: flex;
	justify-content: center;
}

.dv-line .dv-horizontal-align-left,
.dv-line-mobile .dv-horizontal-align-left {
	display: flex;
	justify-content: flex-start;
}

.dv-line .dv-vertical-align-top,
.dv-line-mobile .dv-vertical-align-top {
	display: flex;
	align-items: flex-start;
}

.dv-line .dv-vertical-align-center,
.dv-line-mobile .dv-vertical-align-center {
	display: flex;
	align-items: center;
}

.dv-line .dv-vertical-align-bottom,
.dv-line-mobile .dv-vertical-align-bottom {
	display: flex;
	align-items: flex-end;
}

.dv-line .dv-full-width-vertical-align-bottom,
.dv-line-mobile .dv-full-width-vertical-align-bottom {
	width: 100%;
	display: grid;
	align-items: flex-end;
}

@media only screen and (min-width: 1280px) {

	.dv-center {
		width: 1200px;
		min-height: 1px;
		margin: 0 auto;
	}

	.dv-side {
		float: left;
		width: 220px;
		min-height: 1px;
	}

	.dv-middle {
		float: left;
		width: 600px;
		min-height: 1px;
	}

	.dv-main {
		float: left;
		width: 900px;
		min-height: 1px;
	}

}

@media screen and (max-width: 1279px) and (min-width: 960px) {

	.dv-center {
		width: 960px;
		min-height: 1px;
		margin: 0 auto;
	}

	.dv-side {
		float: left;
		width: 210px;
		min-height: 1px;
	}

	.dv-middle {
		float: left;
		width: 480px;
		min-height: 1px;
	}

	.dv-main {
		float: left;
		width: 720px;
		min-height: 1px;
	}

}

@media only screen and (max-width: 959px) {

	h1,
	h1 span,
	h1 a,
	h2,
	h2 span,
	h2 a,
	h3,
	h3 span,
	h3 a,
	h4,
	h4 span,
	h4 a {
		font-size: 26px;
		line-height: 160%;
	}

	.dv-position-absolute {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	.dv-position-fixed {
		overflow: hidden;
		position: relative;
		z-index: 1;
	}

	.dv-margin-xdpi {
		margin: 32px;
	}

	.dv-margin-top-xdpi {
		margin-top: 32px;
	}

	.dv-margin-right-xdpi {
		margin-right: 32px;
	}

	.dv-margin-bottom-xdpi {
		margin-bottom: 32px;
	}

	.dv-margin-left-xdpi {
		margin-left: 32px;
	}

	.dv-padding-xdpi {
		padding: 32px;
	}

	.dv-padding-top-xdpi {
		padding-top: 32px;
	}

	.dv-padding-right-xdpi {
		padding-right: 32px;
	}

	.dv-padding-bottom-xdpi {
		padding-bottom: 32px;
	}

	.dv-padding-left-xdpi {
		padding-left: 32px;
	}

	.dv-line {
		display: block;
	}

	.dv-center {
		width: 100%;
	}

	.dv-side {
		width: 100%;
	}

	.dv-middle {
		width: 100%;
	}

	.dv-main {
		width: 100%;
	}

	.dv-mobile {
		display: block;
	}

	.dv-screen {
		display: none;
	}

	.dv-full-height {
		height: auto;
	}

}

.dv-purple {
	color: #5865f2;
}

.dv-gray {
	color: #757575;
}

.dv-purple-bg {
	background-color: #404eed;
}

a {
	text-decoration: none;
}